@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin:0;
    padding:0;
       font-family: 'sansita swashed';
    box-sizing: border-box;
}

body{
    min-height:1000px;
    background:rgb(231, 228, 228);
}
p{
    font-family: 'roboto';
    color:#111;
}


.container{
     margin:0px auto;
     max-width: 1170px;
}
img{
    max-width: 100%;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.banner{
    position:relative;
    width: 100%;
    min-height:100vh ;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("image/home-bg.jpg");
    background-size: cover;
 
}

.content h5{
      margin-top: 20px;
      font-size: 28px;
      color: #fff;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color:#fff
}
.banner .content p{
    font-size: 1em;
    color:#fff;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:40px 100px;
    z-index:1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
     background: #fff;
     padding:10px 80px;
     box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

header.sticky .logo{
     color:#111;
}

header .logo{
     color: #fff;
     font-weight: 700;
     font-size: 2em;
     text-decoration: none;
}

header .logo span{
    color:orangered;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
      text-decoration: none;
      color:#fff;
      font-weight: 300;
}


header .navigation li a:hover{
    color:orangered
}
header.sticky .navigation li a{
    color:#111;
}

header.sticky .navigation li a:hover{
    color:orangered
}

section{
    padding:50px;
}

.boo{
    
     display:flex;
     justify-content: space-between;   
}

.boo .col50{

    width:48%;
}

.col50 h2{
    font-size: 36px;
    font-weight: 600;
}
.line-1{
    width: 15px;
    height: 15px;
    background: orangered;
    display: inline-block;
    isolation: isolate;
}


.line-2{
    width: 80px;
    height: 3px;
    background: orangered;
    display: inline-block;
    isolation: isolate;
}


.line-3{
    width: 60px;
    height: 1px;
    background: orangered;
    display: inline-block;
    isolation: isolate;
}

.line{
    line-height: 8px;
}


/**** Menu ****/

.row{
    display:flex;
    flex-wrap: wrap;
}
 .row h2{
     font-size: 47px;
    color:orangered;
    text-align: center;
    margin: auto;
} 

.row .menu-tabs{
     width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 30px;
}

  .menu-tab-item{
    font-size: 18px;
    text-transform: capitalize;
    border:none;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 10px 10px;
    padding:12px 10px;
    cursor: pointer;
}


.active{
    color:orangered;
}

.menu-tab-item .active{
    color: orangered;
}


.menu-tab-content{
   display: none;
}

.menu-tab-content.active{
    display: flex;
}
.menu-item {
  width: 50%;
  padding:20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.menu-item-title{
     display: flex;
     align-items: center;
}

.menu-item-title h4{
      font-size: 17px;
      transition: color 0.3s ease;
}


.menu-item:hover .menu-item-title h4 {
    color:orchid;
}
.menu-item-price{
     font-size: 16px;
     color:orangered;
}

.menu-item:hover .menu-item-price{
      color:white;
}
.menu-item-title img{
      max-width: 100px;
      margin-right: 20px;
}


/***** page */

.info{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba( 0,0,0,0.8)), url('image/assort.jpg');
    min-height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page h2{
    font-size: 44px;
    color:#fff;
}

.page p{
     color:#fff;
     font-size: 22px;
     text-align: center;
     margin-top: 20px;
}


/***** chefs ****/
.chef img{
    width:50%;
    margin-top: 30px;
   
}

.our-chefs h1{
    font-size: 36px;
    text-align: center;
}

.chefs  {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.chef h5{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}


/**** Contact ****/


.contact-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-left, .contact-right{
      flex-basis: 50%;
}

.contact-right img{
    width:100%;
}

form{
   max-width: 350px;
   margin: 30px 0;
}

form input{
    width:100%;
    padding:12px 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
}

.bttn-box{
   width:100%;
   display: flex;
   justify-content: space-between;
}

.bttn-box button{
     flex-basis: 48%;
     padding: 18px 0;
}


/****** footer ******/


footer{
    padding: 50px 0 30px;
}

hr{
    width: 100%;
    border:0;
    border-top: 1px solid orangered;
    margin-bottom: 20px;
    margin-top: 10px;
}
 


#footer-wrap{
    
    padding: 20px;
   
    text-align: center;
    font-size: 18px;
}

#footer-wrap .container-footer{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 1rem;
}

.container-footer li{
    list-style: none;

}
.footer-end h5{
    font-size: 21px;
    margin-bottom: 15px;
}


footer p{
    margin-top: 20px;
}


@media (max-width :991px){
   header, header.sticky{
       padding: 10px 20px;
   }
    
   header .navigation{
        display: none;
   }

    
   header .navigation li{
       margin-left: 0;
   }
    
   header .navigation li a{
       text-decoration: none;
       color:#111;
       font-size: 1.6em;
   }
   header .navigation.active{
      width:100%;
      height:calc(100% - 68px);
      position: fixed;
      top:68px;
      left:0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
}
   .menuToggle{
       position:relative;
       width: 40px;
       height:40px;
       background: url(image/menu.png);
       background-size: 30px;
       background-repeat: no-repeat;
       background-position:center;
       cursor:pointer;
   }

   .menuToggle.active{
    background: url(image/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position:center;
    cursor:pointer;
   }
   header.sticky  .menuToggle{
       filter:invert(1)
   }

   section{
        padding:20px;
   }

   .banner .content h2{
        font-size: 3em;
   }

  
}